{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block pagetitle %}
    {{ title }}
{% endblock %}
{% block customstyle %}
    <style>
        .mdi{
            font-size: 22px;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block mainform %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 20px" class="header-title">گروه محصولات</h1>
                    <br>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_data" id="id-data">
                        <div class="mb-3">
                            <label class="form-label">عنوان</label>
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">توضیحات</label>
                            {{ form.descriptions }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">کلمات کلیدی</label>
                            {{ form.keywords }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">تگ های سئو</label>
                            {{ form.tags }}
                        </div>
                        <p type="submit" class="btn btn-primary">ثبت اطلاعات</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block tables %}
    {% if datas %}
        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
            <thead>
            <tr>
                <th>نام دسته بندی</th>
                <th>کلمات کلیدی</th>
                <th>تگ های سئو</th>
                <th>ویرایش</th>
                <th>حذف</th>
            </tr>
            </thead>
            <tbody >
            {% for data in datas %}
                <tr>
                    <td id="name{{ data.id}}">{{ data }}</td>
                    <td id="keywords{{ data.id}}">{{ data.keywords }}</td>
                    <td id="tags{{ data.id}}">{{ data.tags }}</td>
                    <td ><i data="{{ data.id}}" name="{{ data }}" keywords="{{ data.keywords }}" descriptions="{{ data.descriptions }}" tags="{{ data.tags }}"  class="mdi mdi-file-edit"></i></td>
                    <td><i data="{{ data.id}}" class="mdi mdi-delete"></i></td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block customjs %}
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.bootstrap5.js'%}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/responsive.bootstrap5.min.js'%}"></script>
    <script src="{% static 'assets/js/pages/demo.datatable-init.js'%}"></script>
    <script>
        var table = $('#basic-datatable').DataTable();
        $('.mdi-file-edit').click(function () {
            $('#id-data').val($(this).attr('data'));
            $('#id_name').val($(this).attr('name'));
            $('#id_descriptions').val($(this).attr('descriptions'));
            $('#id_keywords').val($(this).attr('keywords'));
            $('#id_tags').val($(this).attr('tags'));
        });
        $('.mdi-delete').click(function () {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios({
                method : "POST",
                xsrfCookieName : 'csrftoken',
                xsrfHeaderName : 'X-CSRFTOKEN',
                data : {id : $(this).attr('data')},
                url :'{% url "deletemaincategory"  %}',
                headers : {
                    'X-CSRFTOKEN' : 'csrftoken'
                }
            }).then((response) => {
                if (response.data.text == 'ok'){
                    table.row( $(this).parents('tr') ).remove().draw();
                }else {
                    alert('متاسفانه دسته بندی شاخه حذف نشد');
                }
            });
        });
        $('.btn-primary').click(function () {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            axios({
                method : "POST",
                xsrfCookieName : 'csrftoken',
                xsrfHeaderName : 'X-CSRFTOKEN',
                data : {id : $('#id-data').val(),name : $('#id_name').val() ,descriptions: $("#id_descriptions").val(),keywords: $('#id_keywords').val(),tags: $('#id_tags').val()},
                url :'{% url "setmaincategory"  %}',
                headers : {
                    'X-CSRFTOKEN' : 'csrftoken'
                }
            }).then((response) => {
                if (response.data.text == 'bad'){
                    alert('متاسفانه دسته بندی اضافه و یاویرایش نشد');
                }else {
                    if (response.data.id){
                        $('#name'+response.data.id).html($('#id_name').val())
                        $('#keywords'+response.data.id).html($('#id_keywords').val())
                        $('#descriptions'+response.data.id).html($('#id_descriptions').val())
                        $('#tags'+response.data.id).html($('#id_tags').val())
                    }else {
                        table.row.add(['<td id="name'+response.data.idv+'">'+$('#id_name').val()+'</td>','<td id="keywords'+response.data.idv+'">'+$('#id_keywords').val()+'</td>','<td id="tags'+response.data.idv+'">'+$('#id_tags').val()+'</td>', '<i data="'+response.data.idv+'" name="{{ data }}" keywords="keywords'+response.data.idv+'" descriptions="descriptions'+response.data.idv+'" tags="tags'+response.data.idv+'"  class="mdi mdi-file-edit"></i>','<i data="'+response.data.idv+'" class="mdi mdi-delete"></i>']).draw();
                    }
                }
            });
        });

    </script>
{% endblock %}