{% extends 'dashboard/base.html' %}
{% load static %}
{% block customstyle %}
    <link href="{% static 'assets/css/vendor/dataTables.bootstrap5.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/vendor/responsive.bootstrap5.css'%}" rel="stylesheet" type="text/css" />
    <style>
        input[data-switch]:checked+label:after{
            right: 78px;
        }
        .form-control{
            width: 50%;
        }
        .none{
            display: none;
        }
        .lazyload{
            object-fit: cover;
            min-width: 120px;
            min-height: 120px;
            max-width: 150px;
            max-height: 150px;
            margin: 10px auto 10px 10px;
            cursor: pointer;
            border-radius: 25%;
            overflow: hidden;
        }
        .img-active {
            padding: 5px;
            border: #2980B9 4px dotted;
        }
        .lazyload:hover{
            filter: blur(3px);
        }
    </style>
{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block pagetitle %}
    {{ title }}
{% endblock %}
{% block mainform %}
    <script src="{% static 'lazyload.js'%}"></script>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 20px" class="header-title">نوار عملکرد</h1>
                    <br>
                    <br>
                    <form method="post" id="form-swiper">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">عنوان</label>
                            {{ form.title }}
                        </div>
                        <div class="row" style="max-height: 500px;overflow-y: auto" >
                            <label class="form-label">انتخاب عکس</label>
                            {{ form.image }}
                            <br>
                            {% if select_images %}
                                {% for image in select_images %}
                                    <img data-src="{{ image.image.url }}" data="{{ image.id }}" class="lazyload {{ image.id }}" alt="{{ image.alt }}">
                                {% endfor %}
                                {% else %}
                                <div class="alert alert-warning bg-white text-warning" role="alert">
                                    <strong>موردی یافت نشد !</strong>
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">توضیحات</label>
                            {{ form.descriptions }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">لینک</label>
                            {{ form.link }}
                        </div>
                        <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
{% block formerrors %}
    {% if  form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div style="text-align: right" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>خطا </strong> {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block tables %}
                {% if datas %}
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>عنوان</th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                    <tbody>
                    {% for data in datas %}
                                <tr>
                                    <td>{{ data.title }}</td>
                                    <td><a style="font-size: 20px" href="#"><i data="{{ data.id}}" class="mdi mdi-file-edit"></i></a></td>
                                    <td><a style="font-size: 20px" href="{{ data.itemdelete}}"><i class="mdi mdi-delete"></i></a></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
        <br>
            <br>
            <br>
        <div class="row" style="text-align: center">
            <div class="alert alert-warning bg-white text-warning" role="alert">
                <strong>موردی یافت نشد !</strong>
            </div>
        </div>
                {% endif %}
{% endblock %}
{% block customjs %}
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.bootstrap5.js'%}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/responsive.bootstrap5.min.js'%}"></script>

    <!-- Datatable Init js -->
    <script src="{% static 'assets/js/pages/demo.datatable-init.js'%}"></script>
    <script>
        let lazy = lazyload();
        lazyload();
        $('.lazyload').click(function () {
            $('#id_image').val($(this).attr('data'));
            $(this).addClass('img-active').siblings().removeClass('img-active');
        });
        $('.mdi-file-edit').click(function () {
        axios({
            method : "GET",
            url : '{% url "update_swiper"  %}?data=' + $(this).attr('data'),
        }).then((response) => {
            $('#id_title').val((response.data.text).title);
            $('#id_image').val((response.data.text).image);
            $('#id_descriptions').val((response.data.text).descriptions);
            $('#id_link').val((response.data.text).link);
            $('.'+(response.data.text).image).addClass('img-active').siblings().removeClass('img-active');
            $('<input>').attr({
                type: 'hidden',
                value: (response.data.text).id,
                name: 'swiper_id',
            }).appendTo('#form-swiper');
        });
    });
    </script>
{% endblock %}
