{% extends 'main/card-body.html' %}
{% block main %}
    <div class="col-lg-9">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-header border-bottom">
                <h5 class="card-header-title">پسورد</h5>
              </div>

              <!-- Body -->
              <div class="card-body">
                <!-- Form -->
                <form method="post">
                    {% csrf_token %}
                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="currentPasswordLabel" class="col-sm-3 col-form-label form-label">پسورد فعلی</label>

                    <div class="col-sm-9">
                      <input type="password" class="form-control" name="old_password" id="currentPasswordLabel" placeholder="پسورد فعلی" aria-label="پسورد فعلی">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="newPassword" class="col-sm-3 col-form-label form-label">پسورد جدید</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="new_password1" id="newPassword" placeholder="پسورد جدید" aria-label="پسورد جدید">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">تایید پسورد جدید</label>

                    <div class="col-sm-9">
                      <div class="mb-3">
                        <input type="password" class="form-control" name="new_password2" id="confirmNewPasswordLabel" placeholder="تایید پسورد جدید" aria-label="تایید پسورد جدید">
                      </div>

                      <h5>نیازمندی های پسورد</h5>

                      <p class="card-text small"> اطمینان حاصل کنید این لزومات رعایت شدند :</p>

                      <ul class="small">
                        <li>حداقل طول پسورد 8 کارکتر و بیشتر</li>
                        <li>حداقل یک حرف بزرگ</li>
                        <li>حداقل یک حرف کوچک</li>
                        <li>حداقل یک عدد ویا سبمل استفاده کنید</li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Form -->

                  <div class="d-flex justify-content-end gap-3">
                    <a class="btn btn-white" href="{% url 'index' %}">فروشگاه</a>
                    <button type="submit" class="btn btn-primary">بروزرسانی پسورد</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
                {% if  form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div style="text-align: right" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <strong>خطا </strong> {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
        </div>
{% endblock %}

