{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="..\favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main\assets\css\vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'main\assets\vendor\bootstrap-icons\font\bootstrap-icons.css' %}">
    <link href="{% static 'customize/main.css' %}" rel="stylesheet" type="text/css" id="light-style">
    <link href="{% static 'nouislider.css' %}" rel="stylesheet" type="text/css" id="light-style">
    <link rel="stylesheet" href="{% static 'main\assets\css\theme.min.css' %}">
    <script src="{% static 'axios.min.js' %}"></script>
    <style>
        body {
            font-family: IRANYekan, Inter, sans-serif
        }

        .col-md {
            max-width: 200px;
        }
    </style>
</head>

<body>
{% include 'main/header.html' %}
<main id="content" role="main">

    <!-- Card Grid -->
    <div class="container content-space-t-1 content-space-t-md-2 content-space-b-2 content-space-b-lg-3">
        <div class="row">
            <div class="col-lg-3">
                <!-- Navbar -->
                <div class="navbar-expand-lg mb-5">
                    <!-- Navbar Toggle -->
                    <div class="d-grid">
                        <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse"
                                data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation"
                                aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">Filter</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
                        </button>
                    </div>
                    <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
                        <div class="w-100">
                            <!-- Form -->
                            <form>
                                <div class="border-bottom pb-4 mb-4">
                                    <div id="slider22"></div>
                                </div>

                                <div class="border-bottom pb-4 mb-4">
                                    <h5>دسته بندی ها</h5>

                                    <div class="d-grid gap-2">
                                        <div class="form-check">
                                            <input class="form-check-input" name="filter-category" data-filter=""
                                                   type="radio"
                                                   value="*" id="allcategory" checked="">
                                            <label class="form-check-label d-flex" for="tshirtCheckbox">همه دسته
                                                ها </label>
                                        </div>
                                        {% for category in categories %}
                                            <div class="form-check">
                                                <input class="form-check-input" name="filter-category"
                                                       data-filter="{{ category }}" type="radio"
                                                       value="{{ category }}" id="{{ category }}">
                                                <label class="form-check-label d-flex"
                                                       for="{{ category }}">{{ category }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- End View More - Collapse -->
                                </div>
                                <div class="border-bottom pb-4 mb-4">
                                    <h5>برند</h5>

                                    <div class="d-grid gap-2">
                                        <div class="form-check">
                                            <input class="form-check-input" name="filter-brand" data-filter=""
                                                   type="radio" value="*"
                                                   id="allbrand" checked="">
                                            <label class="form-check-label d-flex" for="tshirtCheckbox">همه برند
                                                ها </label>
                                        </div>
                                        {% for brand in brands %}
                                            <div class="form-check">
                                                <input class="form-check-input" name="filter-brand"
                                                       data-filter="{{ brand }}" type="radio"
                                                       value="{{ brand }}" id="{{ brand }}">
                                                <label class="form-check-label d-flex"
                                                       for="{{ brand }}">{{ brand }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- End View More - Collapse -->
                                </div>

                            </form>
                            <!-- End Form -->
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
                <!-- End Navbar -->
            </div>
            <!-- End Col -->

            <div class="col-lg-9">
                <div class="row align-items-center mb-5">
                    <div class="col-sm mb-3 mb-sm-0">
                        <h6 class="mb-0">{{ products.paginator.count }} محصول</h6>
                    </div>
                </div>
                <!-- End Row -->


                {% if products %}
                    <div id="computers" class="row row-cols-sm-2 row-cols-md-3 mb-10 ">
                        {% for product in products %}
                            <div class="col mb-4 system" data-brand="{{ product.brand }}"
                                 data-category="{{ product.category.first }}"
                                 data-price="{{ product.get_price.price }}">
                                <!-- Card -->
                                <div class="card card-bordered shadow-none text-center h-100">
                                    <div class="card-pinned">
                                        <img class="card-img-top" src="{{ product.image.image.url }}"
                                             alt="{{ product.image.image.alt }}">
                                    </div>

                                    <div class="card-body">
                                        <div class="mb-2">
                                            <a class="link-sm link-secondary"
                                               href="{{ product.category.first.get_absolute_url }}">{{ product.category.first }}</a>
                                        </div>

                                        <h4 class="card-title">
                                            <a class="text-dark"
                                               href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:55 }}</a>
                                        </h4>
                                        {% if product.get_price|is_str %}
                                            <p class="card-text text-dark ">{{ product.get_price }}</p>
                                        {% else %}
                                            {% if product.get_price.discount %}
                                                <span class="ms-2"><del id="price-discount" class="fa-price"
                                                                        data="{{ product.get_price.price }}"></del></span>
                                                <p class="card-text text-dark fa-price"
                                                   data="{{ product.get_price.price_discount }}"></p>
                                            {% else %}
                                                <p class="card-text text-dark fa-price"
                                                   data="{{ product.get_price.price }}"></p>
                                            {% endif %}

                                        {% endif %}
                                    </div>

                                    <div class="card-footer pt-0">
                                        <!-- Rating -->
                                        <a class="d-inline-flex align-items-center mb-3" href="#">
                                            <div class="d-flex gap-1 me-2">
                                                {% if product.get_stars|is_numberic %}
                                                    {% for i in "x"|rjust:product.get_stars %}
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.0079 2.6L15.7079 7.2L21.0079 8.4C21.9079 8.6 22.3079 9.7 21.7079 10.4L18.1079 14.4L18.6079 19.8C18.7079 20.7 17.7079 21.4 16.9079 21L12.0079 18.8L7.10785 21C6.20785 21.4 5.30786 20.7 5.40786 19.8L5.90786 14.4L2.30785 10.4C1.70785 9.7 2.00786 8.6 3.00786 8.4L8.30785 7.2L11.0079 2.6C11.3079 1.8 12.5079 1.8 13.0079 2.6Z"
                                                                  fill="#F39C12"></path>
                                                        </svg>
                                                    {% endfor %}
                                                {% endif %}

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-soft-danger" role="alert">
                        محصولی یافت نشد !
                    </div>
                {% endif %}

                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ products.previous_page_number }}"
                                   aria-label="Previous">
                          <span aria-hidden="true">
                            <i class="bi-chevron-double-right small"></i>
                          </span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">
                            <i class="bi-chevron-double-right small"></i>
                          </span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">
                            <i class="bi-chevron-double-left small"></i>
                          </span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">
                            <i class="bi-chevron-double-left small"></i>
                          </span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
                <!-- End Pagination -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->

    <!-- Subscribe -->
        <div class="bg-light">
      <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <div class="row justify-content-lg-between">
            <!-- Heading -->
            <div class="mb-5">
              <span class="text-cap">اشتراک</span>
              <h2>از آخرین اخبار ما مطلع شوید</h2>
            </div>
            <!-- End Heading -->

            <form>
              <!-- Input Card -->
              <div class="input-card input-card-pill input-card-sm border mb-3">
                <div class="input-card-form">
                  <label for="subscribeForm" class="form-label visually-hidden">ایمیل خود را وارد کنید</label>
                  <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="ایمیل خود را وارد کنید" aria-label="Enter email">
                </div>
                <button type="button" class="btn btn-primary btn-lg rounded-pill">عضویت</button>
              </div>
              <!-- End Input Card -->
            </form>

            <p class="small">شما می توانید هر زمان لغو اشتراک کنید . درباره ما <a href="#">بیشتر بدانید</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Subscribe -->

    <!-- Clients -->
    <div class="container content-space-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>برندها</h2>
      </div>
      <div class="row">
          {% if valbrand %}
              <div class="js-swiper-responsive-breakpoint swiper">
                  <div class="swiper-wrapper">
                      {% for brandss in valbrand %}
                          <div class="swiper-slide">
                          <a href="{{ brandss.get_absolute_url }}">
                              <div class="col text-center py-3">
                                  <img class="avatar avatar-lg avatar-4x3" src="{{ brandss.image.image.url }}" alt="{{ brandss.name }}">
                              </div>
                          </a>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <div class="js-swiper-responsive-breakpoint-pagination swiper-pagination"></div>
          {% endif %}
      </div>
      <!-- End Row -->
    </div>
    <!-- End Clients -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

{% include 'main/footer.html' %}

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Sign Up -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-close">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">
                <!-- Log in -->
                <div id="signupModalFormLogin" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Log in</h2>
                        <p>Don't have an account yet?
                            <a class="js-animation-link link" href="javascript:" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'>Sign up</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid gap-2">
                        <a class="btn btn-white btn-lg" href="#">
                <span class="d-flex justify-content-center align-items-center">
                  <img class="avatar avatar-xss me-2" src="..\assets\svg\brands\google-icon.svg"
                       alt="Image Description">
                  Log in with Google
                </span>
                        </a>

                        <a class="js-animation-link btn btn-primary btn-lg" href="#" data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormLoginWithEmail",
                       "groupName": "idForm"
                     }'>Log in with Email</a>
                    </div>
                </div>
                <!-- End Log in -->

                <!-- Log in with Modal -->
                <div id="signupModalFormLoginWithEmail" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Log in</h2>
                        <p>Don't have an account yet?
                            <a class="js-animation-link link" href="javascript:" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormSignup",
                         "groupName": "idForm"
                       }'>Sign up</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <form class="js-validate needs-validation" novalidate="">
                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormLoginEmail">Your email</label>
                            <input type="email" class="form-control form-control-lg" name="email"
                                   id="signupModalFormLoginEmail" placeholder="email@site.com"
                                   aria-label="email@site.com" required="">
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="form-label" for="signupModalFormLoginPassword">Password</label>

                                <a class="js-animation-link form-label-link" href="javascript:"
                                   data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormResetPassword",
                       "groupName": "idForm"
                     }'>Forgot Password?</a>
                            </div>

                            <input type="password" class="form-control form-control-lg" name="password"
                                   id="signupModalFormLoginPassword" placeholder="8+ characters required"
                                   aria-label="8+ characters required" required="" minlength="8">
                            <span class="invalid-feedback">Please enter a valid password.</span>
                        </div>
                        <!-- End Form -->

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary form-control-lg">Log in</button>
                        </div>
                    </form>
                </div>
                <!-- End Log in with Modal -->

                <!-- Sign up -->
                <div id="signupModalFormSignup">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Sign up</h2>
                        <p>Already have an account?
                            <a class="js-animation-link link" href="javascript:" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>Log in</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <div class="d-grid gap-3">
                        <a class="btn btn-white btn-lg" href="#">
                <span class="d-flex justify-content-center align-items-center">
                  <img class="avatar avatar-xss me-2" src="..\assets\svg\brands\google-icon.svg"
                       alt="Image Description">
                  Sign up with Google
                </span>
                        </a>

                        <a class="js-animation-link btn btn-primary btn-lg" href="#" data-hs-show-animation-options='{
                       "targetSelector": "#signupModalFormSignupWithEmail",
                       "groupName": "idForm"
                     }'>Sign up with Email</a>

                        <div class="text-center">
                            <p class="small mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Sign up -->

                <!-- Sign up with Modal -->
                <div id="signupModalFormSignupWithEmail" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Sign up</h2>
                        <p>Already have an account?
                            <a class="js-animation-link link" href="javascript:" role="button"
                               data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>Log in</a>
                        </p>
                    </div>
                    <!-- End Heading -->

                    <form class="js-validate need-validate" novalidate="">
                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormSignupEmail">Your email</label>
                            <input type="email" class="form-control form-control-lg" name="email"
                                   id="signupModalFormSignupEmail" placeholder="email@site.com"
                                   aria-label="email@site.com" required="">
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3">
                            <label class="form-label" for="signupModalFormSignupPassword">Password</label>
                            <input type="password" class="form-control form-control-lg" name="password"
                                   id="signupModalFormSignupPassword" placeholder="8+ characters required"
                                   aria-label="8+ characters required" required="">
                            <span class="invalid-feedback">Your password is invalid. Please try again.</span>
                        </div>
                        <!-- End Form -->

                        <!-- Form -->
                        <div class="mb-3" data-hs-validation-validate-class="">
                            <label class="form-label" for="signupModalFormSignupConfirmPassword">Confirm
                                password</label>
                            <input type="password" class="form-control form-control-lg" name="confirmPassword"
                                   id="signupModalFormSignupConfirmPassword" placeholder="8+ characters required"
                                   aria-label="8+ characters required" required=""
                                   data-hs-validation-equal-field="#signupModalFormSignupPassword">
                            <span class="invalid-feedback">Password does not match the confirm password.</span>
                        </div>
                        <!-- End Form -->

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary form-control-lg">Sign up</button>
                        </div>

                        <div class="text-center">
                            <p class="small mb-0">By continuing you agree to our <a href="#">Terms and Conditions</a>
                            </p>
                        </div>
                    </form>
                </div>
                <!-- End Sign up with Modal -->

                <!-- Reset Password -->
                <div id="signupModalFormResetPassword" style="display: none; opacity: 0;">
                    <!-- Heading -->
                    <div class="text-center mb-7">
                        <h2>Forgot password?</h2>
                        <p>Enter the email address you used when you joined and we'll send you instructions to reset
                            your password.</p>
                    </div>
                    <!-- En dHeading -->

                    <form class="js-validate need-validate" novalidate="">
                        <div class="mb-3">
                            <!-- Form -->
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="form-label" for="signupModalFormResetPasswordEmail" tabindex="0">Your
                                    email</label>

                                <a class="js-animation-link form-label-link" href="javascript:"
                                   data-hs-show-animation-options='{
                         "targetSelector": "#signupModalFormLogin",
                         "groupName": "idForm"
                       }'>
                                    <i class="bi-chevron-left small"></i> Back to Log in
                                </a>
                            </div>

                            <input type="email" class="form-control form-control-lg" name="email"
                                   id="signupModalFormResetPasswordEmail" tabindex="1"
                                   placeholder="Enter your email address" aria-label="Enter your email address"
                                   required="">
                            <span class="invalid-feedback">Please enter a valid email address.</span>
                            <!-- End Form -->
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary form-control-lg">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Reset Password -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer d-block text-center py-sm-5">
                <small class="text-cap mb-4">Trusted by the world's best teams</small>

                <div class="w-85 mx-auto">
                    <div class="row justify-content-between">
                        <div class="col">
                            <img class="img-fluid" src="..\assets\svg\brands\gitlab-gray.svg" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" src="..\assets\svg\brands\fitbit-gray.svg" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" src="..\assets\svg\brands\flow-xo-gray.svg" alt="Logo">
                        </div>
                        <!-- End Col -->

                        <div class="col">
                            <img class="img-fluid" src="..\assets\svg\brands\layar-gray.svg" alt="Logo">
                        </div>
                        <!-- End Col -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>

<!-- Go To -->
<a class="js-go-to go-to position-fixed" href="javascript:" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
</a>

<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-top offcanvas-navbar-search bg-light" tabindex="-1" id="offcanvasNavbarSearch">
    <div class="offcanvas-body">
        <div class="container">
            <div class="w-lg-75 mx-lg-auto">
                <div class="d-flex justify-content-end mb-3">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>

                <div class="mb-7">
                    <!-- Form -->
                    <form>
                        <!-- Input Card -->
                        <div class="input-card">
                            <div class="input-card-form">
                                <input type="text" class="form-control form-control-lg" placeholder="Search Front"
                                       aria-label="Search Front">
                            </div>
                            <button type="button" class="btn btn-primary btn-lg">Search</button>
                        </div>
                        <!-- End Input Card -->
                    </form>
                    <!-- End Form -->
                </div>

                <div class="d-none d-md-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <h5>Quick Links</h5>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <!-- List -->
                                    <ul class="list-pointer list-pointer-primary mb-0">
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Search Results List</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Search Results Grid</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">About</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Services</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Invoice</a>
                                        </li>
                                    </ul>
                                    <!-- End List -->
                                </div>
                                <!-- End Col -->

                                <div class="col-6">
                                    <!-- List -->
                                    <ul class="list-pointer list-pointer-primary mb-0">
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Profile</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">User Contacts</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Reviews</a>
                                        </li>
                                        <li class="list-pointer-item">
                                            <a class="link-sm link-secondary" href="#">Settings</a>
                                        </li>
                                    </ul>
                                    <!-- End List -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Card -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="..\assets\img\mockups\img1.png"
                                                 alt="Image Description">
                                        </div>
                                        <!-- End Col -->

                                        <div class="col-6">
                                            <div class="mb-4">
                                                <h5>Featured Item</h5>
                                                <p>Create astonishing web sites and pages.</p>
                                            </div>
                                            <a class="btn btn-outline-primary btn-xs btn-transition" href="#">Apply now
                                                <i class="bi-chevron-right small ms-1"></i></a>
                                        </div>
                                        <!-- End Col -->
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Search -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarEmptyShoppingCart">
    <div class="offcanvas-header justify-content-end border-0 pb-0">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="text-center">
            <div class="mb-5">
                <img class="avatar avatar-xl avatar-4x3" src="..\assets\svg\illustrations\oc-empty-cart.svg" alt="SVG">
            </div>

            <div class="mb-5">
                <h3>Your cart is currently empty</h3>
                <p>Before proceed to checkout you must add some products to your shopping cart. You will find a lot of
                    interesting products on our "Shop" page.</p>
            </div>

            <a class="btn btn-primary btn-transition rounded-pill px-6" href="index.html">Start shopping</a>
        </div>
    </div>
</div>
<!-- ========== END SECONDARY CONTENTS ========== -->
<div id="liveToast" class="position-fixed toast hide" role="alert" aria-live="assertive" aria-atomic="true"
     style="top: 20px; right: 20px; z-index: 1000;">
    <div class="toast-body">
        یک مورد را انتخاب کنید
    </div>
    <div style="margin: auto">
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<!-- JS Implementing Plugins -->
<script src="{% static 'main\assets\js\vendor.min.js' %}"></script>
<script src="{% static 'main\assets\js\theme.min.js' %}"></script>
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'axios.min.js' %}"></script>
<script src="{% static 'nouislider.js' %}"></script>
<script>
    $('.nav > li > a').hover(function () {
        var tt = $(this).attr('href');
        $('.tab-pane').removeClass("active show");
        $(tt).addClass("active show");
    });
    $('#nav-result1').innerHTML();
</script>
<ُز
<script>
    $('.fa-price').map(function () {
        $(this).html((new Intl.NumberFormat("fa").format($(this).attr('data'))) + " تومان ");
    });

    $('input[name="filter-brand"]').click(function () {
        $("div").find(`[data-brand]`).show()
        $("div").find(`[data-brand='` + $(this).val() + `']`).siblings().hide()
        if ($(this).val() == '*') {
            $("div").find(`[data-brand]`).show()
        }
    })
    $('input[name="filter-category"]').click(function () {
        $("div").find(`[data-category]`).show()
        $("div").find(`[data-category='` + $(this).val() + `']`).siblings().hide()
        if ($(this).val() == '*') {
            $("div").find(`[data-category]`).show()
        }
    })

    var slider = document.getElementById('slider22');

    noUiSlider.create(slider, {
        start: [0, 5450000],
        connect: true,
        range: {
            'min': 0,
            'max': 5450000
        }
    });

    slider.noUiSlider.on('change.one', function () {
        pricevalue = slider.noUiSlider.get();
        filterSystem(parseInt(pricevalue[0]),parseInt(pricevalue[1]))
    });

    function filterSystem(minPrice, maxPrice) {
        $("#computers div.system").hide().filter(function () {
            var price = parseInt($(this).data("price"), 10);
            return price >= minPrice && price <= maxPrice;
        }).show();
    }
</script>
<script>
  (function() {
    // INITIALIZATION OF SWIPER
    // =======================================================
    var responsiveBreakpoint = new Swiper('.js-swiper-responsive-breakpoint', {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: '.js-swiper-responsive-breakpoint-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      }
    });
  })()
</script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })


        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')


        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
            onSubmit: data => {
                data.event.preventDefault()
                alert('Submited')
            }
        })


        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')
        document.querySelectorAll('.js-chart').forEach(item => {
            HSCore.components.HSChartJS.init(item)
        })
        HSCore.components.HSNoUISlider.init('.js-nouislider')
        document.querySelectorAll('.js-chart').forEach(item => {
            HSCore.components.HSChartJS.init(item)
        })
    })()
</script>
</body>
</html>
