{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Error 404</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main\assets\css\vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'main\assets\vendor\bootstrap-icons\font\bootstrap-icons.css' %}">
  <link href="{% static 'customize/main.css' %}" rel="stylesheet" type="text/css" id="light-style">
  <link rel="stylesheet" href="{% static 'main\assets\css\theme.min.css' %}">
  <style>
        body{
          font-family: IRANYekan,Inter,sans-serif
        }
        .col-md {
            max-width: 200px;
        }
  </style>
</head>

<body>
  {% include 'main/header.html' %}
  <main id="content" role="main">
    <!-- Subscribe -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="w-md-75 w-lg-50 text-center mx-md-auto">
        <div class="row justify-content-lg-between">
          <!-- Heading -->
          <div class="mb-5">
            <h2>ریست پسورد</h2>
          </div>
          <!-- End Heading -->

          <form method="post">
              {% csrf_token %}
            <!-- Input Card -->
            <div class=" mb-3">
                <!-- Form -->
                  <div class="row mb-4">
                    <label for="newPassword" class="col-sm-3 col-form-label form-label">کد دریافتی</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="otp" id="subscribeFormEg1" placeholder="xxxxxx" aria-label="پسورد جدید">
                    </div>
                  </div>
                  <!-- End Form -->
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="newPassword" class="col-sm-3 col-form-label form-label">پسورد جدید</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="new_password1" id="newPassword" placeholder="پسورد جدید" aria-label="پسورد جدید">
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label form-label">تایید پسورد جدید</label>

                    <div class="col-sm-9">
                      <div class="mb-3">
                        <input type="password" class="form-control" name="new_password2" id="confirmNewPasswordLabel" placeholder="تایید پسورد جدید" aria-label="تایید پسورد جدید">
                      </div>

                      <h5>نیازمندی های پسورد</h5>

                      <p class="card-text small"> اطمینان حاصل کنید این لزومات رعایت شدند :</p>

                      <ul class="small">
                        <li>حداقل طول پسورد 8 کارکتر و بیشتر</li>
                        <li>حداقل یک حرف بزرگ</li>
                        <li>حداقل یک حرف کوچک</li>
                        <li>حداقل یک عدد ویا سبمل استفاده کنید</li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Form -->


              <p type="submit" class="btn btn-primary btn-lg check-code">تایید کد</p>
            </div>
            <!-- End Input Card -->
          </form>
        </div>
      </div>
    </div>
    <!-- End Subscribe -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="start-0 end-0 bottom-0">
    <div class="container pb-5 content-space-b-sm-1">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm mb-3 mb-sm-0">
          <p class="small mb-0">&copy; Front. 2021 Htmlstream.</p>
        </div>

        <div class="col-sm-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

{% include 'main/other.html' %}
  <!-- JS Front -->
  <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'main\assets\vendor\aos\dist\aos.js' %}"></script>
  <script src="{% static 'axios.min.js' %}"></script>
  <script>
      $('.check-code').click(function () {
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";
        axios({
            method : "POST",
            url : "{% url 'setpassword' %}",
            xsrfCookieName : 'csrftoken',
            xsrfHeaderName : 'X-CSRFTOKEN',
            data : {otp : $('#subscribeFormEg1').val(),pass1 : $('#newPassword').val(),pass2 : $('#confirmNewPasswordLabel').val()},
            headers : {
                'X-CSRFTOKEN' : 'csrftoken'
            }
        }).then((response) => {
            if (response.data.text == 'ok'){
                window.location.replace("http://127.0.0.1/account/profile");
            }else {
                alert(response.data.text)
            }
        })
      });
  </script>
  <script>
    alert({{ request.session.otp }});
	$('.nav > li > a').hover(function() {
      var tt = $(this).attr('href');
      $('.tab-pane').removeClass("active show" );
      $(tt).addClass( "active show" );
	  {#$(this).tab('show');#}
	});
  </script>
  <!-- JS Implementing Plugins -->
  <script src="{% static 'main\assets\js\vendor.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'main\assets\js\theme.min.js' %}"></script>
</body>
</html>
